body {
    background-image: url(image.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.animate__animated {
    text-align: center;
}

.pagination {
    display: flex;
    justify-content: center;
    font-size: 18px;
}

h2 {
    text-align: center;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 2%;
    list-style-type: none;
}

header {
    display: flex;
    justify-content: center;
}

.bienvenue {
    display: flex;
    justify-content: left;
    margin-top: 0%;

}

.annonce {
    border-style: solid;
    margin: 1%;
    padding: 2%;
}
.image {
    display: flex;
    justify-content: left;
    width:2.5%;
    height: 2.5%;
    margin-top: 0.5%;
}