body {
    background-image: url(image.png);
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    display: flex;
    justify-content: center;

}

.annonce {
    border-style: solid;
    margin: 1%;
    padding: 2%;
}
.annonce:hover {
    box-shadow: 6px 6px 0px rgb(95, 91, 91);
}

.green {
    color: green;
}

.red {
    color: red;
}

.animate__animated.animate__backInLeft {
    --animate-duration: 3s;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 2%;
    list-style-type: none;
}

.pagination {
    text-align: center;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: black;

}

a:hover {
    color: blue;
}

.home {
    border-style: groove;
    border-radius: 2%;
}

.write {
    border-style: groove;
    border-radius: 2%;
}

.logout {
    border-style: groove;
    border-radius: 2%;
}
form {
    text-align: center;
}
.compte {
    
    border-style: groove;
    border-radius: 2%;
}