{% extends 'base.html.twig' %}

{% block title %}Announcement page
{% endblock %}

{% block body %}
	<header>
		<h1 class="animate__animated animate__backInLeft">Your Ads
		</h1>
	</header>
	<div class="annonce">
		<h2>
			{{annonce.title}}
		</h2>
	</a>
	<p>
		{{annonce.content}}
	</p>
	<h3>
		Posted the :
		{{annonce.createdOn | date('d/m/Y h:i:s')}}
	</h3>
	Price :
	{{annonce.price}}€
	<p>
		seller :
		{% if annonce.author %}
			{{annonce.author.username}}
		{% endif %}
		{% if app.user and app.user == annonce.author %}
			<p>
				<a href="{{ path('leboncoin_delete', {'id' : annonce.id } ) }}">
					<button class="red">Delete</button>
				</a>
			</p>
			<p>
				<a href="{{ path('leboncoin_edit', {'id' : annonce.id } ) }}">
					<button class="green">Edit</button>
				</a>
			</p>
			<img src="{{asset('uploads/annoncesPictures/') ~ annonce.photos ?? 'default.png'}}" alt="annonces picture">
		{% endif %}
	</p>
</div>{% endblock %}
