<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{% block stylesheets %}{% endblock %}
		<link rel="stylesheet" href="{{asset('css/bootstrap.css')}}">
		<link rel="stylesheet" href="{{asset('css/main1.css')}}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css">
	</head>
	<body>
		<p>
			{% for message in app.flashes('success') %}
				<div class="alert alert-success">
					{{ message }}
				</p>
			{% endfor %}
		</p>
	</body>
</html></div><nav>
<ul>
	<li>
		<a class="home" href="{{path('leboncoin_index')}}">Home page</a>
	</li>
	<li>
		<a class="write" href="{{path('leboncoin_add')}}">Write an ad</a>
	</li>
	{% if app.user %}
		<li>
			<a class="compte" href="{{path('leboncoin_compte', {'id' : app.user.id } )}}">My account</a>
		</li>
		<li>
			<a class="logout" href="{{path('leboncoin_logout')}}">Logout</a>
		</li>
	{% else %}
		<li>
			<a href="{{path('leboncoin_register')}}">Sign up</a>
		</li>
		<li>
			<a href="{{path('leboncoin_login')}}">Sign in</a>
		</li>
	{% endif %}
</ul>
</nav>
    		<div class="bienvenue">
			{% if app.user %}
				{{app.user.username}}
			{% endif %}
		</div>
	{% if app.user %}	
	<div class="image">
		<img src="{{asset('uploads/userPictures/') ~ app.user.avatar ?? 'default.png'}}" alt="user picture">
	</div>
	{% endif %}
	{% block body %}
	{% endblock %}
	{% block javascripts %}
	{% endblock %}
	</body>
	</html>

